@media (max-width: 376px) {
	* {
		margin: 0;
		padding: 0;
	}


    .card {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .result, .summary {
        width: 100%;
    }

    .result {
        border-radius: 0 0 2em 2em;
    }

    .grade-description {
        margin-bottom: 1em;
    }

    .summary {
        padding: 1.5em;
    }

    .definition {
        margin-bottom: 1em;
    }
}
