@font-face {
	font-family: "Hanken Grotesk";
	src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Hanken Grotesk", Arial, sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	width: 90vh;
	height: 60vh;
	background-color: rgb(255, 255, 255);
	border-radius: 2em;
	box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.2);
}

.result,
.summary {
	float: left;
	height: 60vh;
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 2em;
}

.result {
	color: white;
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	justify-content: flex-start;
	align-items: center;
}

.summary {
	z-index: 1;
	background-color: #ffffff;
	align-items: flex-start;
}

h1 {
	color: hsla(221, 100%, 96%, 50%);
	margin: 1em 0;
}

.circle {
	background-image: linear-gradient(
		hsla(256, 72%, 46%, 1),
		hsla(241, 72%, 46%, 0)
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10em;
	width: 10em;
	border-radius: 50%;
	margin: 1em 0;
}

.percent {
	font-size: 3em;
}

.perof {
	color: hsla(221, 100%, 96%, 50%);
}

.grade-text {
	margin: 0.5em 0;
}

.grade-description {
	padding: 0 2em;
	color: hsla(221, 100%, 96%, 60%);
}

.main-summary {
	font-size: 1.17em;
	margin: 1em 0;
	color: hsl(224, 30%, 27%);
}

.definition {
	background-color: hsl(221, 100%, 96%);
	border-radius: 0.5em;
	width: 100%;
	height: 3em;
	margin: 0.5em 0;
}

.def-icon {
	float: left;
	padding: 13px 10px;
}

.def-title {
	float: left;
	font-size: 1.1em;
	padding: 12px 0;
	font-weight: 600;
}

.def-description {
	float: right;
	padding: 12px 10px;
	color: hsl(224, 30%, 27%);
	font-weight: 700;
}

.red {
	color: hsl(0, 100%, 67%);
}

.yellow {
	color: hsl(39, 100%, 56%);
}

.green {
	color: hsl(166, 100%, 37%);
}

.blue {
	color: hsl(234, 85%, 45%);
}

span {
	color: hsla(224, 30%, 27%, 50%);
}

a {
	width: 100%;
	color: #fff;
	text-decoration: none;
	margin: 1em 0;
	font-weight: 600;
	padding: 0.8em;
	border-radius: 40px;
	background-color: hsl(224, 30%, 27%);
}

a:hover {
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
