@font-face {
	font-family: "Hanken Grotesk";
	src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Hanken Grotesk", Arial, sans-serif;
}

main {
	background-color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	width: 90vh;
	height: 60vh;
	background-color: rgb(255, 255, 255);
	border-radius: 2em;
}

.result {
	color: white;
	float: left;
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	height: 60vh;
	width: 50%;
	text-align: center;
	padding: 1em;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.summary {
	color: white;
	float: left;
	height: 60vh;
	width: 50%;
	text-align: center;
	padding: 1em;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

h1 {
	color: hsla(221, 100%, 96%, 50%);
	margin: 1em 0;
}

.circle {
	background-image: linear-gradient(
		hsla(256, 72%, 46%, 1),
		hsla(241, 72%, 46%, 0)
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10em;
	width: 10em;
	border-radius: 50%;
	margin: 1em 0;
}

.percent {
	font-size: 3em;
}

.perof {
	color: hsla(221, 100%, 96%, 50%);
}

.grade-text {
	margin: 0.5em 0;
}

.grade-description {
	padding: 0 2em;
	color: hsla(221, 100%, 96%, 60%);
}

.main-summary {
	font-size: 1.17em;
	margin: 1em 0;
	color: hsl(224, 30%, 27%);
}

.definition {
	background-color: hsl(221, 100%, 96%);
	border-radius: 0.5em;
	width: 100%;
	height: 3em;
	margin: 0.5em 0;
}

.def-icon {
	float: left;
	padding: 14px 10px;
}

.def-title {
	float: left;
	padding: 12px 0;
}

.def-description {
	float: right;
	padding: 12px 10px;
}
